@import url(http://fonts.googleapis.com/css?family=Open+Sans);

@h2margin: 1.5em;

html {
	font-family: "Open Sans", sans-serif;
}

body {
	h2 {
		margin-top: @h2margin;
	}
	h3 {
		margin-top: @h2margin * 0.85;
	}
}
