{% extends 'layout.html' %}


{% block header %}

<header>
    <div id="header" class="grid-70 prefix-15 suffix-15">

        <h1>Rebecca Paz</h1>
        <p>177 Linkside Circle</p>
        <p>Ponte Vedra Beach, FL 32082</p>
        <p>r.pazyaquian@gmail.com</p>

        <a href="/static/resume.pdf" id="pdf"> <img src="/static/pdficon_large.png"></a>
        <a href="https://github.com/rpazyaquian" id="github"> <img src="/static/github.png"></a>

    </div>
</header>

{% endblock %}


{% block content %}
    <div class="grid-70 prefix-15 suffix-15">

        <h2>Education</h2>

        <h3>Masters of Science (M.S.), Bioinformatics, <span class="date">ongoing</span></h3>
        <p>Brandeis University, Waltham, MA</p>
        <h3>Bachelor of Science (B.S.), Biomedical Engineering, <span class="date">graduated October 2012</span></h3>
        <p>Worcester Polytechnic Institute, Worcester, MA</p>

        <h2>Projects</h2>
        <h3><a href="https://github.com/rpazyaquian/PyTA">PyTA</a></h3>
        <p>Python library for performing computed technical analysis on stock price data.</p>
        <p>Work in progress.</p>

        <h3><a href="http://rpazyaquian.herokuapp.com/stocks">How are my stocks doing today?</a></h3>
        <p>Flash and Bokeh working together to provide stock charts with technical indicators.</p>
        <p>See page for usage.</p>
        <p>Work in progress.</p>

        <h2>Work Experience</h2>

        <h3>Summer Intern, Imaging Core Technician</h3>
        <h4>UMass Medical Center – MicroCT Imaging Core, Worcester, MA</h4>
        <h4 class="date">May 2011 – August 2011</h4>

        <ul>
            <li>Performed µCT scanning and post-scanning image analysis of CT sections.</li>
            <li>Executed non-destructive qualitative analysis of small animal bones for use in transgenic and knock-out mouse studies.</li>
            <li>Wrote semi-automated MATLAB script to aid with quantification of osteoclasts in histological slides.</li>
            <li>Created 16-bit color scheme with OsiriX to differentiate between low density bone, high density bone, and soft tissue, for use in any set of DICOM files.</li>
        </ul>

        <h3>Medical Physics Intern</h3>
        <h4>Mayo Clinic Florida – Clinical Research Internship Study Program, Jacksonville, FL</h4>
        <h4 class="date">June 2010 – August 2010</h4>
        <ul>
            <li>Monitoring, reporting, analyzing and troubleshooting Quality Control (QC) issues during installation of Siemens 3 Tesla MRI equipment.</li>
            <li>Analysis of accuracy in radiation exposure meters (personnel badges).</li>
            <li>Analysis of radiation doses from Fluoroscopic and CT scan equipment, utilizing MS Excel statistical analysis spreadsheets.</li>
            <li>Introduction to Radiation Oncology Physics: Simulation and dosimetry.</li>
        </ul>

        <h2>Academic Projects</h2>

        <h3>WPI Major Qualifying Project: Re-design of Skin Graft Culturing Device</h3>
        <h4 class="date">August 2011 – May 2012</h4>

        <ul>
            <li>Developed a cell image analysis system for skin graft immunohistochemical sections using MATLAB and CellProfiler software.</li>
            <li>Redesigned a research skin graft culturing device with the objective of improving the assembly/disassembly features and to maximize ease-of-use and time-efficiency.</li>
            <li>Reduced disassembly time of culturing device by over 400%.</li>
        </ul>

        <h3>Osteoporotic Bone Statistical Model through Chemical Decalcification</h3>
        <h4 class="date">October 2010 – December 2010</h4>

        <ul>
            <li>Collaborated on chicken bone preparation, mechanical testing with INSTRON equipment, and statistical analysis of sectional data utilizing MATLAB.</li>
            <li>Analyzed experimental data of calcified and decalcified bone using MATLAB and MS Excel for determination of cut-offs for osteoporotic levels and other features of bone mechanics.</li>
        </ul>

        <h2>Technical Skills</h2>

        <h3>Software and Programming</h3>

        <p>Python, Django, Flask, HTML, CSS, MATLAB, SolidWorks 2010, LabView, SCANCO Medical, OsiriX, CellProfiler, MS Word, MS Excel, MS PowerPoint.</p>

        <h3>Hardware</h3>

        <p>INSTRON series of mechanical testing apparati, ECG equipment, SCANCO Medical MicroCT 40. Observed installation of Siemens MRI unit. Participated in troubleshooting of MRI installation.</p>

        <h3>Foreign Languages</h3>

        <p>Spanish (native fluency).</p>

        <h2>Continuing Education</h2>

        <ul>
            <li>American Association of Physicists in Medicine, Annual Conference, <span class="date">June 18-22, 2010</span></li>
            <li>Biomedical Engineering Society, Annual Conference, <span class="date">October 24-27, 2012</span></li>
        </ul>

        <h2>Memberships</h2>

        <ul>
            <li>Biomedical Engineering Society, Landover, MD, <span class="date">October 2012 - Present</span></li>
        </ul>
    </div>

{% endblock %}