{% extends 'layout.html' %}

{% block header %}
    <h1>Rebecca Paz</h1>
        <p>177 Linkside Circle</p>
        <p>Ponte Vedra Beach, FL 32082</p>
        <p>r.pazyaquian@gmail.com</p>
{% endblock %}

{% block content %}
    <h2>Objective</h2>

        <p>Entry level, early career Research Associate and Data Analyst in Bioinformatics, Biomedical Engineering, and Computational Biology.</p>

    <h2>Education</h2>

        <p>Bachelor of Science (B.S.), Biomedical Engineering, October 2012</p>
        <p>Worcester Polytechnic Institute, Worcester, MA</p>

    <h2>Work Experience</h2>

        <h3>Summer Intern, May 2011 – August 2011</h3>

            <h4>UMass Medical Center – MicroCT Imaging Core, Worcester, MA</h4>

                <ul>

                    <li>Performed µCT scanning and post-scanning image analysis of CT sections.</li>
                    <li>Executed non-destructive qualitative analysis of small animal bones for use in transgenic and knock-out mouse studies.</li>
                    <li>Wrote semi-automated MATLAB script to aid with quantification of osteoclasts in histological slides. </li>
                    <li>Created 16-bit color scheme with OsiriX to differentiate between low density bone, high density bone, and soft tissue, for use in any set of DICOM files. </li>
                </ul>

        <h3>Medical Physics Intern, June 2010 – August 2010</h3>

            <h4>Mayo Clinic Florida – Clinical Research Internship Study Program, Jacksonville, FL</h4>

                <ul>

                    <li>Monitorization, reporting, statistical analysis and troubleshooting Quality Control (QC) issues during installation of Siemens 3 Tesla MRI equipment.</li>
                    <li>Analysis of accuracy in radiation exposure meters (personnel badges).</li>
                    <li>Analysis of radiation doses from Fluoroscopic and CT scan equipment, utilizing MS Excel statistical analysis spreadsheets.</li>
                    <li>Introduction to Radiation Oncology Physics: Simulation and dosimetry.</li>

                </ul>

    <h2>Academic Projects</h2>

        <h3>WPI Major Qualifying Project: Re-design of Skin Graft Culturing Device, August 2011 – May 2012</h3>

            <h4>Development of Cell Image Analysis System</h4>

                <ul>
                    <li>Redesigned a research skin graft culturing device with the objective of improving the assembly/disassembly features and to maximize ease-of-use and time-efficiency.</li>
                    <li>Reduced disassembly time of culturing device by over 400%.</li>
                    <li>Developed a cell image analysis system for skin graft immunohistochemical sections using MATLAB and CellProfiler software.</li>
                </ul>

        <h3>Osteoporotic Bone Statistical Model through Chemical Decalcification, October 2010 – December 2010</h3>

            <ul>
                <li>Collaborated on chicken bone preparation, mechanical testing with INSTRON equipment, and statistical analysis of sectional data utilizing MATLAB.</li>
                <li>Analyzed experimental data of calcified and decalcified bone using MATLAB and MS Excel for determination of cut-offs for osteoporotic levels and other features of bone mechanics.</li>
            </ul>

        <h3>Painless Waterproof ECG Electrode Design For Underwater Use, September 2010 – October 2010</h3>

            <ul>
                <li>Researched, obtained, and applied waterproofing fabrics and materials.</li>
                <li>Collaborated on fabrication of waterproof electrode bandage.</li>
                <li>Modeled prototype in AutoCAD.</li>
                <li>Built a working prototype and conducted underwater testing.</li>
            </ul>

    <h2>Technical Skills</h2>

        <h3>Software and Programming</h3>
            <p>Python, Django, HTML, CSS, MATLAB, SolidWorks 2010, LabView, SCANCO Medical, OsiriX, CellProfiler, MS Word, MS Excel, MS PowerPoint.</p>

        <h3>Hardware</h3>
            <p>INSTRON series of mechanical testing apparati, ECG equipment, SCANCO Medical MicroCT 40. Observed installation of Siemens MRI unit. Participated in troubleshooting of MRI installation.</p>

        <h3>Foreign Languages</h3>
            <p>Spanish (native fluency).</p>

    <h2>Continuing Education</h2>

        <ul>
            <li>American Association of Physicists in Medicine, Annual Conference, June 18-22, 2010</li>
            <li>Biomedical Engineering Society, Annual Conference, October 24-27, 2012</li>
        </ul>

    <h2>Memberships</h2>

        <ul>
            <li>Biomedical Engineering Society, Landover, MD, October 2012 - Present</li>
        </ul>

{% endblock %}