{% extends 'layout.html' %}


{% block header %}

<header>
    <div id="header" class="grid-70 prefix-15 suffix-15">

        <h1>How are my stocks doing today?</h1>

    </div>
</header>

{% endblock %}


{% block content %}
    <div class="grid-70 prefix-15 suffix-15">

        <p>This page is a half-placeholder, half-redirect notice for the stock symbol lookup function for this app.</p>
        <p>Eventually, this will be the base for displaying a Bokeh stock data plot.</p>
        <p>Note to self: see if I can refactor the routing code so that the url is just "/stocks?symbol=AAPL".</p>
        <p>Or something.</p>

    </div>

{% endblock %}