{% extends 'layout.html' %}

{% block head %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-bokeh-2.0.4.css') }}" type="text/css" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bokeh.css') }}" type="text/css" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/continuum.css') }}" type="text/css" />

    <script type="text/javascript" src="{{ url_for('static', filename='js/bokeh.js') }}"></script>

    <title>How are my stocks doing today?</title>

{% endblock %}


{% block header %}

<header>
    <div id="header" class="grid-70 prefix-15 suffix-15">

        <h1>How are my stocks doing today?</h1>

    </div>
</header>

{% endblock %}


{% block content %}

    <div class="grid-70 prefix-15 suffix-15" id="plot">
        {{ snippet|safe }}
    </div>

    <div class="grid-70 prefix-15 suffix-15">

        <p>Usage: http://rpazyaquian.herokuapp.com/stocks/symbol, where symbol is an NYSE stock symbol.</p>
        <p>e.g.: http://rpazyaquian.herokuapp.com/stocks/AAPL</p>
        <p>Only stocks that are 1. on the NYSE and 2. have a .csv provided for them by Google Finance work.</p>

    </div>
{% endblock %}