{% extends 'layout.html' %}

{% block head %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-bokeh-2.0.4.css') }}" type="text/css" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bokeh.css') }}" type="text/css" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/continuum.css') }}" type="text/css" />

    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.min.css" type="text/css" />


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>


    <script type="text/javascript" src="{{ url_for('static', filename='js/bokeh.js') }}"></script>

    <title>How are my stocks doing today?</title>

{% endblock %}


{% block header %}

<header>
    <div id="header" class="grid-70 prefix-15 suffix-15 stockheader">

        <h1>How are my stocks doing today?</h1>

    </div>
</header>

{% endblock %}

{% block content %}

<div id="searchbar">
    <form method="get" action="/stocks">
        <input type="text" class="search" name="symbol" placeholder="Enter symbols...">
        <input type="submit" value="Go">
    </form>
</div>

{% if s_length == 0 %}
<div class="grid-70" id="error">
    {{ error }}
</div>


{% elif sd_length > 0 %}

<div id="tabs">

    <ul>
        {% for snippet in snippet_dict %}
            <li><a href="#{{ snippet }}">{{ snippet }}</a></li>
        {% endfor %}
    </ul>

    {% for snippet in snippet_dict %}
        <div class="plot" id="{{ snippet }}">
                {{ snippet_dict[snippet]|safe }}
        </div>
    {% endfor %}

</div>


{% endif %}

    <script>
        $( "#tabs" ).tabs();
    </script>

{% endblock %}